In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DF2.csv', header = 0, sep=',')

In [7]:
df.head(5)

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [8]:
df.shape # 1

(10000, 10)

In [9]:
df.dtypes # 1

address        object
city           object
country        object
keys           object
latitude      float64
longitude     float64
name           object
postalCode     object
province       object
websites       object
dtype: object

In [10]:
df.info() # 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
address       10000 non-null object
city          10000 non-null object
country       10000 non-null object
keys          10000 non-null object
latitude      10000 non-null float64
longitude     10000 non-null float64
name          10000 non-null object
postalCode    10000 non-null object
province      10000 non-null object
websites      9535 non-null object
dtypes: float64(2), object(8)
memory usage: 781.3+ KB

In [11]:
df.describe() # 1

           latitude     longitude
count  10000.000000  10000.000000
mean      37.552195    -91.056132
std        5.050275     18.556339
min       -6.244273   -159.378915
25%       34.028706    -97.412631
50%       38.298217    -87.660930
75%       41.116765    -81.458351
max       64.840240    123.012361

In [12]:
df = df.drop('keys',axis=1) # 3

In [13]:
df.head(5)

,address,city,country,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [14]:
df[df.latitude >= 50] # 2

,address,city,country,latitude,longitude,name,postalCode,province,websites
1761,607 W Willoughby Ave,Juneau,US,58.300580,-134.418406,Domino's Pizza,99801,AK,"https://www.dominos.com/en/?redirect=homepage,..."
1777,59 College Rd Ste 219,Fairbanks,US,64.840240,-147.710430,Domino's Pizza,99701,AK,"https://www.dominos.com/en/?redirect=homepage,..."
2249,11716 Old Glenn Hwy,Eagle River,US,61.326200,-149.571800,Arby's,99577,AK,"http://www.arbys.com,http://locations.arbys.co..."
2873,1391 University Ave S,Fairbanks,US,64.835440,-147.811700,Carl's Jr,99709,AK,http://www.carlsjr.com
3112,1166 N Muldoon Rd,Anchorage,US,61.203697,-149.744670,McDonald's,99504,AK,"http://mcdonalds.com,http://www.mcdonalds.com/..."
3300,10447 Spur Hwy,Kenai,US,60.559630,-151.235440,McDonalds,99611,AK,http://mcdonalds.com
3819,1859 Airport Way,Fairbanks,US,64.836600,-147.755000,Wendy's,99701,AK,http://www.wendys.com
6201,89 College Rd,Fairbanks,US,64.840240,-147.710430,Pizza Hut,99701,AK,http://www.pizzahut.com
6468,Jahnplatz 11/12,Tampa,US,52.022988,8.532845,Burger King,33602,FL,NaN
6779,9001 Jewel Lake Rd,Anchorage,US,61.138939,-149.951375,Subway,99502,AK,http://local.subway.com/FWPCons/frmSiteMainPag...
7025,Narva Mnt 27a,Calumet,US,58.384419,26.726935,Jamjam,51009,IA,NaN
7302,1299 N Muldoon Rd.,Anchorage,US,61.226627,-149.740859,Regal Cinemas Tikahtnu 16 IMAX & RPX,99504,AK,https://www.regmovies.com/theaters/regal-tikah...
7348,40/25,Worcester,US,50.447025,30.509076,Mcdonald's,1601,MA,http://mcdonalds.ua
7469,320 W 5th Ave,Anchorage,US,61.217082,-149.887645,Arby's,99501,AK,NaN
7882,800 E Dimond Blvd 025,Anchorage,US,61.143235,-149.866854,Arby's,99515,AK,http://www.arbys.com
8988,An der Autobahn 2,Travelers Rest,US,52.674300,9.687680,McDonald's,29690,SC,http://www.mcdonalds.de
9189,"44332 Sterling Hwy,",Soldotna,US,60.484690,-151.068600,Pizza Hut,99669,AK,http://www.pizzahut.com
9755,800 W Northern Lights Blvd,Anchorage,US,61.195171,-149.898216,McDonald's,99503,AK,"http://mcdonalds.com,http://www.mcdonalds.com/..."

In [15]:
array = df['province'].unique() # 4

In [16]:
len(array) # 4

52

In [17]:
df.latitude.max() # 5

64.84024000000001

In [18]:
df.latitude.min() # 5

-6.24427307

In [19]:
df.rename(columns = {'name':'new_name'}, inplace = True) # 6

In [20]:
df.head(5)

,address,city,country,latitude,longitude,new_name,postalCode,province,websites
0,324 Main St,Massena,US,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [21]:
df.iloc[1:60, 3:5].max() #7

latitude     48.219459
longitude   -73.203160
dtype: float64

In [22]:
df['province'].value_counts() # кол-во рест. в каждой провинции

CA         676
TX         634
OH         543
FL         471
IN         379
IL         363
NC         358
GA         347
MO         334
KY         332
VA         327
PA         283
NY         269
MI         251
TN         245
SC         238
LA         237
AL         236
WA         209
AZ         208
OK         208
WI         186
IA         166
UT         159
MD         159
CO         158
AR         151
NJ         151
NM         149
MN         148
NV         135
MA         131
OR         114
SD         105
KS         103
ID          99
CT          96
WV          93
NE          92
MS          82
ND          50
ME          44
VT          43
WY          41
HI          40
NH          36
DE          32
MT          25
RI          24
DC          21
AK          14
Co Spgs      5
Name: province, dtype: int64

In [23]:
df['province'].value_counts().head(1) # провинция с самым большим кол-вом рест.  9

CA    676
Name: province, dtype: int64

In [24]:
df['province'].value_counts().tail(1) # провинция с самым маленьким кол-вом рест.  9

Co Spgs    5
Name: province, dtype: int64

In [25]:
df.iloc[1:10, :].groupby('latitude').max() # 8

,address,city,country,longitude,new_name,postalCode,province,websites
latitude,,,,,,,,
33.91335,205 W Church St,Batesburg,US,-81.53330,Wendy's,29006,SC,http://www.wendys.com
34.00598,401 N Jennings St,Saluda,US,-81.77040,McDonald's,29138,SC,http://www.mcdonalds.com
36.06107,2711 W. Kings Highway Ste. 18,Paragould,US,-90.52325,Pizza Hut,72450,AR,http://www.pizzahut.com
38.62736,408 Market Square Dr,Maysville,US,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
39.35155,139 Columbus Rd,Athens,US,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."
39.41760,4182 Tonya Trl,Hamilton,US,-84.47641,Domino's Pizza,45011,OH,"https://www.dominos.com/en/?redirect=homepage,..."
39.53255,530 Clinton Ave,Washington Court House,US,-83.44526,Wendy's,43160,OH,http://www.wendys.com
39.86969,590 S Main St,Englewood,US,-84.29358,Domino's Pizza,45322,OH,https://www.dominos.com/en/?redirect=homepagea...
44.95008,6098 State Highway 37,Massena,US,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."